<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css" />
    <script src="../js/sign-up.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="index.html">
        <img src="../../assets/images/icono-menu.png" alt="menu" />
      </a>
      <a href="index.html">
        <img src="../../assets/images/icon-header.png" alt="Icon-RR" />
      </a>
    </header>
    <aside>
      <nav>
        <a href="index.html"> Home </a>
        <a href="sign-up.html"> Sign Up </a>
        <a href="login.html"> Login </a>
        <div class="contact-a">
          <a href="#"> Contact </a>
          <img src="../../assets/images/down-arrow.png" alt="down-arrow" />
        </div>
      </nav>
      <section class="get-in-touch">
        <p>Get in touch</p>
        <div>
          <img src="../../assets/images/icon-mail.png" alt="Icon-Call" />
          <p>RocketSA@gmail.com</p>
        </div>
        <div>
          <img src="../../assets/images/icon-call.png" alt="Icon-Call" />
          <p>(000) 000-000000</p>
        </div>
        <div>
          <img src="../../assets/images/icon-house.png" alt="Icon-Call" />
          <p>Somewhere -Zeballos 1410</p>
        </div>
      </section>
    </aside>
    <main>
      <h1>Sign Up</h1>
      <div class="container-blur">
        <h2>Register</h2>
        <form>
          <div class="file-container">
            <div class="file-box">
              <label>Name</label>
              <input type="text" id="input-name" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Last name</label>
              <input type="text" id="input-last-name" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>DNI</label>
              <input type="text" id="input-dni" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Birthdate</label>
              <input type="date" id="input-birthdate" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Phone</label>
              <input type="text" id="input-phone" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Address</label>
              <input type="text" id="input-address" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Location</label>
              <input type="text" id="input-location" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Postal Code</label>
              <input type="text" id="input-postal-code" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Email</label>
              <input type="text" id="input-email" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Password</label>
              <input type="password" id="input-password" />
              <p class="error-message-p">Error message</p>
            </div>
            <div class="file-box">
              <label>Repeat Password</label>
              <input type="password" id="input-repeat-password" />
              <p class="error-message-p">Error message</p>
            </div>
          </div>
          <button type="submit" class="sign-up" name="button-validate">
            Sign Up
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
