aside {
    display: none;
}

@media screen and (min-width: 1024px) {


    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main {
        width: 80%;
    }

    aside {
        display: block;
        width: 15%;
        background-color: aquamarine;
    }
}