aside {
    display: none;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 250px;
    padding-top: 100px;
    background-color: #373867;
}

nav a {
    display: block;
    width: 60%;
    margin-left: 20px;
    padding: 20px 20px 15px 0px;
    border-bottom: 2px solid #C4C4C4;
    font-size: 2rem;
    color: #C4C4C4;
}

.contact-a a {
    display: inline-block;
    border: none;
    color: #46A37C;
}

.contact-a img {
    position: relative;
    right: 10px;
    bottom: 6px;
}

.get-in-touch div {
    display: inline-block;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 20px 0px 15px 0px;
    border-bottom: 2px solid #C4C4C4;
    font-size: 0.9rem;
    color: #C4C4C4;
}

.get-in-touch div img {
    display: inline-block;
    width: 18px;
}

.get-in-touch div p {
    position: relative;
    display: inline-block;
    left: 4px;
    bottom: 3px;
}

.get-in-touch p:first-child {
    width: 90px;
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #46A37C;
    font-size: 1rem;
    color: #46A37C;
}

@media screen and (min-width: 1024px) {
    aside {
        display: flex;
    }
}